<h1>Hii
  <%=data1[0].username%>
  welcome to home page
</h1>
<%=data1[0].imagename%>
<div style="float:right;"><img src="/../uploads/<%=data1[0].imagename%>" alt="" width="100px" height="100px" ><br>
<a href="/edit" > EDIT PROFILE </a>
</div>
